* {
  box-sizing: border-box;
}

html {
  /*Başa dön ikonuna tıkladığımızda birden değil de yavaş yavaş yukarı çıkması için*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#showcase {
  /* Arka plana resim ekledik linear-gradient ile saydam bir renk ekledik*/
  background: linear-gradient(
      to bottom,
      rgba(16, 86, 148, 0.2),
      rgba(13, 6, 87, 0.2)
    ),
    url("marvel.jpg");
  /* Arka planı ortaladık orta üstü gösteriyor */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

#showcase .content {
  background-color: rgba(89, 85, 85, 0.5);
  position: absolute;
  top: 60%;
  left: 50%;
  /* transform: translate(-50%, -50%); ile yazıyı tam olarak ortaya getirdik. Normalde yazının da bir genişlik ve yüksekliği olduğu için tam olarak ortaya gelmiyordu. aşağı ve sağa bir taşma olduğu için -50% -50% kullandık*/
  transform: translate(-50%, -50%);
  font-family: "Macondo", cursive;
  font-size: 30px;
  color: antiquewhite;
  padding: 20px;
  width: 50%;
  text-align: center;
}

#how-it-works {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.main-header {
  background-color: #fc997c;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.main-nav {
  display: inline-block;
  /* main-nav içerisinde linklerlimiz var main-nav block eleman kadar yer kaplıyor  biz bu yazıları MovieApp yazısı ile yan yana getirmek istiyorsak calc(100% - 74px) özelliğini kullanmalıyız ekranı ne kadar küçültürsek küçültelim hep yan yana kalacak 74px MovieApp yazısının kapladığı alandır. */
  width: calc(100% - 163px);
  text-align: right;
  padding: 10px;
}

a {
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
}

.main-nav a::before {
  content: "\21A0";
}
/* .main-nav classının altında a etiketine sahip tüm etiketlerin üstüne gelince rengini yeşil yap*/
.main-nav a:hover {
  color: green;
}
/* uygulamaya tıklandığı anda olacaklar*/
.main-nav a:active {
  color: red;
}

/* Loginin önündeki işareti aldık */
.main-nav #login::before {
  content: none;
}

h1 {
  color: aliceblue;
}

.row-c::after {
  content: "";
  display: inline-block;
  clear: both;
}

.col {
  float: left;
  width: 33.3%;
  padding: 5px 20px;
}

.col h3 {
  font-size: 25px;
}

.row h2 {
  font-size: 35px;
  margin-bottom: 16px;
  color: maroon;
}

.block1 {
  background-color: #fff;
  display: inline-block;
  width: calc(50% - 2px);
  height: 400px;
  /*bunu yapmazsak blocklar üstte durmayacak*/
  vertical-align: top;
}

.b1 {
  background-image: url(drstrange.jpg);
  background-position: center;
  /*resmi çerçeve içine sığdırmak için*/
  background-size: cover;
}

.b2 {
  background-color: rgb(186, 176, 189);
  padding: 20px 35px;
  text-align: justify;
}

.bolum3 {
  margin: 45px 0px;
}

.col i {
  color: green;
}

.col4 {
  background-color: antiquewhite;
  float: left;
  width: calc(33% - 20px);
  text-align: center;
  padding: 10px 10px 20px 10px;
  border-radius: 7px;
  /* box shadowdaki ilk değer 8px yataydaki 10px dikeydeki ve + değer oldukları için soldak sağa yukardan aşağıya şeklinde olur. 35px de bulanlıklığı belirtir ne kadar arttırırsak bulanıklık o kadar artar 4. olarak verdiğimiz değer yani 6px de gölgenin yayılma alanını belirler son olarak verdiğimiz renk ise gölge rengidir 0.2 ise rengin saydamlığıdır*/
  box-shadow: 8px 10px 35px 6px rgb(71, 68, 68, 0.2);
  /*transition: box-shadow 1s; özelliği bir efektin daha yavaş etkin olmasını sağlar transition: den sonra hangi özelliği istiyorsak örneğin box-shadow özelliği ismini yazıyoruz ve süreyi belirliyoruz */
  transition: box-shadow 1s;
}
/* Kartların üzerine gelince arka plandaki gölgelendirmenin şeffaflığını değiştireceğiz */
.col4:hover {
  box-shadow: 8px 10px 35px 6px rgb(71, 68, 68, 0.8);
}

#h2-1 {
  text-align: center;
  font-size: 32px;
}

.offers {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

.dis {
  margin: 0 auto;
  width: 63%;
  height: 500px;
}

.advance {
  border: solid 5px rgb(70, 138, 138);
  border-radius: 10px;
  color: #fc997c;
}

.onecik {
  background-color: #396eb0;
  color: white;
  position: relative;
  top: -15px;
  margin: 0 10px;
}

.dis li {
  margin: 5px 0px;
}

main {
  margin-top: 57.1px;
}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backToTop i {
  color: #6a7787;
  font-size: 45px;
  transition: color 0.6s;
}
#backToTop i:hover {
  color: #2a65ac;
}

.col-5 {
  background: linear-gradient(to bottom, #fc997c 0%, #cd4015 100%);
  text-align: center;
  width: 33.3%;
  float: left;
  font-size: 20px;
  padding: 20px;
  color: white;
}

.counter h4 {
  margin: 0px;
}

.col-6 {
  position: relative;
  width: 31%;
  height: 400px;
  float: left;
  margin: 10px;
}
section {
  clear: both;
}

.col-6-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  transition: all 0.6s;
  box-shadow: 8px 10px 35px 6px rgba(31, 30, 30, 0.9);
}

.col-6-image:hover {
  height: 420px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.6s;
  box-shadow: 8px 10px 35px 6px rgba(89, 83, 83, 0.6);
  transform: translateY(-20px);
}

#categories {
  height: 700px;
}

.movies-title {
  text-align: center;
  color: rgba(112, 12, 225, 0.7);
  font-size: 35px;
  font-family: "Macondo", cursive;
}

.card-info h3 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  font-family: "Macondo", cursive;
  color: blueviolet;
}

.card-info p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.card-info .btn-primary {
  font-size: 20px;
  border-radius: 5px 13px;
  background-color: darkmagenta;
}
